In [6]:
from importlib import reload
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn import metrics
import fca
from datetime import datetime
import sklearn.tree as tree

# Scaling of dataset

In [7]:
train_data = pd.read_csv('tic-tac-toe/train4.csv')
train_data.head()

  V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0  x  x  x  x  o  o  x  o  o  positive
1  x  x  x  x  o  o  o  x  o  positive
2  x  x  x  x  o  o  o  o  x  positive
3  x  x  x  x  o  o  o  b  b  positive
4  x  x  x  x  o  o  b  o  b  positive

In [8]:
def scale(dataset):
    for i in range(9):
        str_i = str(i + 1)
        dataset['v' + str_i] = (dataset['V' + str_i] == 'x').astype(int)
    dataset['v10'] = (dataset['V10'] == 'positive').astype(int)
    dataset.drop(['V' + str(i+1) for i in range(10)], axis=1, inplace = True)
    return dataset

In [9]:
train_data = scale(pd.read_csv('tic-tac-toe/train9.csv')).iloc[:, :-1]
X_train = train_data.iloc[:, :-1]
y_train = train_data.iloc[:, -1]
train_data.head()

   v1  v2  v3  v4  v5  v6  v7  v8  v9
0   1   1   1   1   0   0   1   0   0
1   1   1   1   1   0   0   0   1   0
2   1   1   1   1   0   0   0   0   1
3   1   1   1   1   0   0   0   0   0
4   1   1   1   1   0   0   0   0   0

# Lazy classifying

In [5]:
results = {'accuracy': [], 'precision': [], 'recall': [], 'seconds': []}
reload(fca)
clf = fca.LazyClassifier(threshold=0.000001, bias='false')

for i in range(10):
    train_data = scale(pd.read_csv('tic-tac-toe/train{}.csv'.format(i+1)))
    X_train = train_data.iloc[:, :-1]
    y_train = train_data.iloc[:, -1]

    clf.fit(X_train, y_train)

    test_data = scale(pd.read_csv('tic-tac-toe/test{}.csv'.format(i+1)))
    X_test = test_data.iloc[:, :-1]
    y_test = test_data.iloc[:, -1]

    s = datetime.now()
    y_pred = clf.predict(X_test)
    f = datetime.now()

    results['accuracy'].append(metrics.accuracy_score(y_test, y_pred))
    results['precision'].append(metrics.precision_score(y_test, y_pred))
    results['recall'].append(metrics.recall_score(y_test, y_pred))
    results['seconds'].append((f - s).seconds)

pd.DataFrame(results)

   accuracy  precision  recall  seconds
0       1.0        1.0     1.0       63
1       1.0        1.0     1.0       52
2       1.0        1.0     1.0       68
3       1.0        1.0     1.0       54
4       1.0        1.0     1.0       64
5       1.0        1.0     1.0       58
6       1.0        1.0     1.0       78
7       1.0        1.0     1.0       67
8       1.0        1.0     1.0       68
9       1.0        1.0     1.0       63

In [6]:
results = {'accuracy': [], 'precision': [], 'recall': [], 'seconds': []}
reload(fca)
clf = fca.LazyClassifier(threshold=0.000001, bias='false', random=True, sample_share=0.3)

for i in range(10):
    train_data = scale(pd.read_csv('tic-tac-toe/train{}.csv'.format(i+1)))
    X_train = train_data.iloc[:, :-1]
    y_train = train_data.iloc[:, -1]

    clf.fit(X_train, y_train)

    test_data = scale(pd.read_csv('tic-tac-toe/test{}.csv'.format(i+1)))
    X_test = test_data.iloc[:, :-1]
    y_test = test_data.iloc[:, -1]

    s = datetime.now()
    y_pred = clf.predict(X_test)
    f = datetime.now()

    results['accuracy'].append(metrics.accuracy_score(y_test, y_pred))
    results['precision'].append(metrics.precision_score(y_test, y_pred))
    results['recall'].append(metrics.recall_score(y_test, y_pred))
    results['seconds'].append((f - s).seconds)

pd.DataFrame(results)

   accuracy  precision  recall  seconds
0  0.967742   0.953125     1.0       23
1  1.000000   1.000000     1.0       19
2  0.990000   0.984848     1.0       26
3  0.988764   0.983333     1.0       26
4  0.977528   0.968750     1.0       19
5  0.988235   0.982456     1.0       19
6  0.973684   0.958904     1.0       23
7  0.962617   0.948052     1.0       21
8  1.000000   1.000000     1.0       25
9  0.978022   0.967213     1.0       22

# Classical decision tree

In [10]:
results = {'accuracy': [], 'precision': [], 'recall': [], 'seconds': []}
clf = tree.DecisionTreeClassifier(criterion='entropy')

for i in range(10):
    train_data = scale(pd.read_csv('tic-tac-toe/train{}.csv'.format(i+1)))
    X_train = train_data.iloc[:, :-1]
    y_train = train_data.iloc[:, -1]

    clf.fit(X_train, y_train)

    test_data = scale(pd.read_csv('tic-tac-toe/test{}.csv'.format(i+1)))
    X_test = test_data.iloc[:, :-1]
    y_test = test_data.iloc[:, -1]

    s = datetime.now()
    y_pred = clf.predict(X_test)
    f = datetime.now()

    results['accuracy'].append(metrics.accuracy_score(y_test, y_pred))
    results['precision'].append(metrics.precision_score(y_test, y_pred))
    results['recall'].append(metrics.recall_score(y_test, y_pred))
    results['seconds'].append((f - s).seconds)

pd.DataFrame(results)

   accuracy  precision    recall  seconds
0  0.978495   1.000000  0.967213        0
1  0.954023   0.979592  0.941176        0
2  1.000000   1.000000  1.000000        0
3  0.977528   0.983051  0.983051        0
4  0.977528   0.983871  0.983871        0
5  1.000000   1.000000  1.000000        0
6  1.000000   1.000000  1.000000        0
7  0.981308   0.986301  0.986301        0
8  0.990291   1.000000  0.985714        0
9  0.989011   1.000000  0.983051        0